@media (max-width: 620px) {
    .barbie-slider {
        padding: 0 10px;
        gap: 8px;
    }

    .btn-seta {
        width: 15px;
        height: 15px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-barbie {
        height: 400px;
    }

    .cartao .imagem-barbie {
        max-height: 200px;
    }

    .cartao .informacoes .nome {
        max-width: 40%;
        font-size: 16px;
    }

    .cartao .informacoes .ano {
        font-size: 12px;
    }
}